<div id="<%= id %>" name="<%= id %>" class="section section-<%= id %>">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>

                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div><i class="fa fa-quote-left fa-2x"></i></div>
                <div>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, aliquid! Laboriosam cum ab, mollitia iste, sit natus qui, harum culpa facere aut laborum fugit dolor dolorem obcaecati sequi repellendus labore!</p>
                        <small class="pull-right"><i class="fa fa-user"></i> John Doe</small>
                    </blockquote>

                </div>
            </div>
        </div>
    </div>
</div>
