<footer>

  <div class="container-fluid">

    <div class="row">

      <!-- Copyright -->
      <div class="col-xs-12 col-sm-12 col-md-4">All rights reserved <%= year %> &copy; <%= company %> </div>

      <!-- Footer Menu -->
      <div class="col-xs-12 col-sm-12 col-md-4 pull-right footer-menu">
        <ul class="list-inline footer-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
