<div id="<%= id %>" name="<%= id %>" class="section section-<%= id %>">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="member">
          <img src="https://placehold.it/200x200" alt="John Doe" class="img-circle center-block" />
          <p>
            <i class="fa fa-user"></i> John Doe
            <br />
            <i class="fa fa-at"></i> johndoe
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="member">
          <img src="https://placehold.it/200x200" alt="John Doe" class="img-circle center-block" />
          <p>
            <i class="fa fa-user"></i> John Doe
            <br />
            <i class="fa fa-at"></i> johndoe
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="member">
          <img src="https://placehold.it/200x200" alt="John Doe" class="img-circle center-block" />
          <p>
            <i class="fa fa-user"></i> John Doe
            <br />
            <i class="fa fa-at"></i> johndoe
          </p>
        </div>
      </div>

    </div>

  </div>

</div>
