<div id="<%= id %>" name="<%= id %>" class="section section-contact">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="contact-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolor neque maxime veritatis minima ducimus adipisci inventore architecto, nostrum praesentium asperiores tenetur, dolore nobis beatae quo, dolorum vel fugiat quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, perferendis? Accusantium eius asperiores sed odio temporibus vitae pariatur numquam omnis voluptatum officiis quos, quod, placeat, vel itaque inventore voluptas alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit facilis omnis, ab consectetur harum eligendi autem repudiandae dolore nisi possimus ut assumenda, pariatur! Recusandae rem, quam, alias animi rerum laboriosam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam iure, alias adipisci quod corporis, molestiae fuga, culpa omnis cum error nisi ipsam dolor? Cupiditate placeat quisquam soluta tempora optio voluptatem.
                    </p>
                </div>

                <div class="contact-info">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <p>
                                <i class="fa fa-map-marker"></i> Address: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <p>
                                <i class="fa fa-phone"></i> Phone: +000000000
                            </p>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <p>
                                <i class="fa fa-envelope"></i> Email: john@doe.com
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>