<div id="<%= id %>" name="<%= id %>"
  class="section section-<%= id %> standard">

  <!-- Logo -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= company %></a>
      </div>
    </div>
  </nav>

  <!-- Title + Slogan -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="text-center">
          <h2 class="title"><%= title %></h2>
          <h4 class="slogan"><%= slogan %></h4>
        </div>
      </div>
    </div>
  </div>

</div>
