<footer>

  <div class="container-fluid">

    <div class="row">

      <!-- Copyright -->
      <div class="col-xs-12 col-sm-12 col-md-4">All rights reserved <%= year %> &copy; <%= company %> </div>

      <!-- Footer Icons -->
      <div class="col-xs-12 col-sm-12 col-md-4">
        <ul class="list-inline social-icons">
          <li><a href="https://www.facebook.com/<%= facebook %>"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://www.github.com/<%= github %>"><i class="fa fa-github-square"></i></a></li>
          <li><a href="https://www.twitter.com/<%= twitter %>"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
      </div>

      <!-- Footer Menu -->
      <div class="col-xs-12 col-sm-12 col-md-4 pull-right footer-menu">
        <ul class="list-inline footer-menu">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="">Team</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
