<div id="<%= id %>" name="<%= id %>"
  class="section section-<%= id %>">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vel ullam ratione voluptatem, dolorem soluta iusto minima aspernatur nostrum iure, rem consectetur. Esse hic tenetur, blanditiis quisquam tempora temporibus sapiente.</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio architecto in fuga aliquid facere officiis, delectus mollitia illo pariatur modi. Iste in quasi, incidunt, error numquam aperiam ducimus sit repellendus!</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugiat laboriosam velit qui rem magni tempora tenetur perspiciatis sit vero fuga a ducimus inventore, temporibus, laudantium eligendi voluptates? Aspernatur, quas!</div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error inventore omnis veritatis dignissimos! Ad quo impedit magnam fuga, autem hic, libero tenetur maiores reiciendis, tempora numquam ipsum adipisci harum dolor..</div>
    </div>
  </div>

</div>
