<div id="<%= id %>" name="<%= id %>"
  class="section section-<%= id %>">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2"><img src="http://placehold.it/500x500" alt="How it Works 1" class="image-howitworks"></div>
          <div class="col-xs-10 col-sm-10 col-md-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio architecto in fuga aliquid facere officiis, delectus mollitia illo pariatur modi. Iste in quasi, incidunt, error numquam aperiam ducimus sit repellendus!</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2"><img src="http://placehold.it/500x500" alt="How it Works 2" class="image-howitworks"></div>
          <div class="col-xs-10 col-sm-10 col-md-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio architecto in fuga aliquid facere officiis, delectus mollitia illo pariatur modi. Iste in quasi, incidunt, error numquam aperiam ducimus sit repellendus!</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2"><img src="http://placehold.it/500x500" alt="How it Works 3" class="image-howitworks"></div>
          <div class="col-xs-10 col-sm-10 col-md-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio architecto in fuga aliquid facere officiis, delectus mollitia illo pariatur modi. Iste in quasi, incidunt, error numquam aperiam ducimus sit repellendus!</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2"><img src="http://placehold.it/500x500" alt="How it Works 4" class="image-howitworks"></div>
          <div class="col-xs-10 col-sm-10 col-md-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio architecto in fuga aliquid facere officiis, delectus mollitia illo pariatur modi. Iste in quasi, incidunt, error numquam aperiam ducimus sit repellendus!</div>
        </div>
      </div>
    </div>
  </div>

</div>
