<div id="<%= id %>" name="<%= id %>" class="section section-<%= id %>">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="http://placehold.it/100x100" alt="howitworks">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">How it Works 1</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur id placeat nemo, voluptatem accusantium quibusdam dolore perspiciatis architecto deserunt ullam nesciunt eligendi vitae magni culpa asperiores saepe repellat laborum!
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="http://placehold.it/100x100" alt="howitworks2">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">How it Works 2</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur id placeat nemo, voluptatem accusantium quibusdam dolore perspiciatis architecto deserunt ullam nesciunt eligendi vitae magni culpa asperiores saepe repellat laborum!
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="http://placehold.it/100x100" alt="howitworks3">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">How it Works 3</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur id placeat nemo, voluptatem accusantium quibusdam dolore perspiciatis architecto deserunt ullam nesciunt eligendi vitae magni culpa asperiores saepe repellat laborum!
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src="http://placehold.it/100x100" alt="howitworks4">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">How it Works 4</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur id placeat nemo, voluptatem accusantium quibusdam dolore perspiciatis architecto deserunt ullam nesciunt eligendi vitae magni culpa asperiores saepe repellat laborum!
            </div>
          </div>
      </div>
    </div>
</div>